.top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 180px;
    
    
}

.champions{
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
    margin-top: 100px;
    align-items: center;
}
.image-box{
    width: max-content;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 0;
  
    padding: 0;
}

.image-box{
    width: 300px;
   height: 500px;
   overflow: hidden;
}


.image-box img{
    
    width: 110%;
    height: 110%;

   
   transition: 0.3s;
}

.image-box img:hover{
    width: 115%;
    height: 115%;
    cursor: pointer;
}



.name{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #0a1428;
    height: 10%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    
    
}

.name p{
    margin: 10px 0;
}

