body{
    color: #0a1428;


}

.content{
    background-color: white;
    margin-bottom: 40px;
    
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 170px;
    
    
}

.champions{
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
    margin-top: 100px;
    align-items: center;
}
.image-box{
    width: max-content;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 0;
  
    padding: 0;
}

.image-box{
    width: 300px;
   height: 500px;
   overflow: hidden;
}


.image-box img{
    
    width: 110%;
    height: 110%;

   
   transition: 0.3s;
}

.image-box img:hover{
    width: 115%;
    height: 115%;
    cursor: pointer;
}



.name{
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding-left: 20px;
    font-style: italic;
    background-color: #0a1428;
    height: 10%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    
    
}

.name p{
    margin: 10px 0;
}


.top div:nth-child(1){
    font-size: 18px;
   

}

.top div:nth-child(2){
    font-size: 48px;
    font-weight: bolder;
    font-style: italic;


}

.top div:nth-child(3){
    font-size: 18px;
    width: 40%;
    text-align: center;
    line-height: 1.5;
    
}




footer{
    background-color: #111111;
    color: white;
    height: max-content;
        /* overflow: hidden; */
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
}


footer svg{
    width: 20px;
}

footer .up{
    background-color: #292929;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;

}

footer .up > div{
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.1s ease;

    
}

footer .up > div:hover{
   
    background-color: #3d3c3c;
    
}

.down{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.down .media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;


}

.down .media > div{
    padding: 8px 14px;
    background-color: #292929;
    align-items: center;
    border-radius: 16px;
}

.down .logo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.down .logo svg{
    width: 120px;
    fill: #3d3c3c;
    transition: all 0.3s ease;
    

}

.down .logo svg:hover{
    fill:white ;
    
}

.down .terms{
    max-width: 740px;
    text-align: center;
    font-size: 16px;
    color: #525050;
}

.down .terms2{
    display: flex;
    gap: 16px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    
  
}

.down .terms2 > div{
    padding: 8px 10px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.down .terms2 > div:hover{
    background-color: #3d3c3c;
}

.down .cards{
    display: flex;
    


}

.down .cards > div{
    padding: 8px;
    background-color: #3d3c3c;
    border-radius: 10px;
}

.down .cards img{
    width: 100%;
}






