body{
    margin: 0;
    padding: 0;
    color: #0a1428;
    overflow-x: hidden;
    background-color: #0a1428;
   
   
}


.hero{
    margin-top:90px ;
    position: relative;
    color: white;
    height: 540px;
    display: flex;
    

}




.hero img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.hero .content{
    width: 100%;
    display: flex;
    flex-direction: column;
   justify-content: end;
    margin: 0 0px 80px 50px;
   gap: 20px;
   
}

.hero .content div:nth-child(1) {
    font-size: 20px;
    font-weight: 400;
    
    text-transform: uppercase;
}

.content div:nth-child(2){
    font-size: 60px;
    font-style: italic;
    font-weight: 900;
    max-width: 600px;
    text-transform: uppercase;
}

.hero .content div:nth-child(3){
    font-size: 18px;
    font-weight: 300;
    max-width: 600px;
    line-height: 1.5;
}

.hero .content div:nth-child(4){
    
   width: max-content;
    padding: 20px 30px;
    color: #0a1428;
    background-color: #c8AA6e;
    font-size: 26px;
    font-weight: 100;
    
    cursor: pointer;
   
    
}


.welcome{
    background-color: white;
    height: 610px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.welcome div:nth-child(1){
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}


.welcome div:nth-child(2){
    font-size: 74px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    color: #0a1428;
}

.welcome div:nth-child(3){
    font-size: 18px;
    font-weight: 300;
    max-width: 800px;
    line-height: 1.5;
    text-align: center;
    color: #0a1428;
}

.ruins{
    height: 640px;
}


.what{
    height: 640px;
    margin-top: -3.79px;
    position: relative;

}
.what video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;


}

.what .text{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    text-align: center;
}

.what .text div:nth-child(1){
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    font-style: italic;
}

.what .text div:nth-child(2){
    font-size: 20px;
    font-weight: 300;
    max-width: 836px;
    text-align: center;
    line-height: 1.5;
}



.distroy, .path, .jungle, .lane{
    height: max-content;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 980px) {
  .hero{
    height: 500px;
  }

  .distroy, .path, .jungle, .lane, .abilities{
    flex-direction: column;
   
  }
  

}
.distroy-l, .path-l, .jungle-l, .lane-l{
    
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding: 50px 10px;
}

.distroy-l .d, .path-l .d, .jungle-l .d, .lane-l .d{
    font-size: 60px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;

}

.c{
    font-size: 20px;
    font-weight: 300;
    margin-bottom:40px ;
    max-width: 700px;
    line-height: 1.5;
    text-align: center;
}

.distroy-l .image, .path-l .image,  .jungle-l .image, .lane-l .image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    font-size: 14px;
    
    
}

.image button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
}





.distroy-l img , .path-l img, .jungle-l img, .lane-l img{
    width: 50%;
    object-fit: cover;
    
}

.y-n, .e-n, .tu, .in, .bn, .dr, .top, .mid, .bot, .sup, .jung{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    opacity: 0.4;
    transition: all 0.6s ease;

}

.e-n, .in, .dr, .jung, .mid, .sup, .bot{
    margin-left: -60px;

}

.y-n:hover, .e-n:hover, .tu:hover, .in:hover, .bn:hover, .dr:hover, .top:hover, .mid:hover, .bot:hover, .sup:hover, .jung:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.05);
}

.active{
    opacity: 1;
    transform: scale(1.05);
}



.distroy-r, .path-r, .jungle-r,  .lane-r{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
    height: 600px;
}

.distroy-r img, .path-r img, .jungle-r img, .lane-r img{
    width: 100%;
}

.distroy-r div:nth-child(2), .path-r div:nth-child(2), .jungle-r div:nth-child(2), .lane-r div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4px;
    margin-top: 20px;
    padding-right: 10px;
    max-width: 600px;
}


.sh{
    font-size: 28px;
    font-weight: 600;
    font-style: italic; 
}


.power{
    height: max-content;
    color: white;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 160px;
    margin-bottom: 100px;

}

.power .po{
    
    font-size: 60px;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    
    margin-bottom: 20px;
}

.power .ch{
    font-size: 20px;
    font-weight: 300;
    max-width: 900px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 16px;
}

.render-content{
    width: 100%;
    
    
    overflow: hidden;
  
}

.power video{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.power .images{
   display: flex;
   width: max-content;
   justify-content: center;
    align-items: center;
   gap: 8px;
   margin-top: 20px;
   margin-bottom: 40px;
  
}

.fist, .coin, .fire{
    opacity: 0.4;
}

.fist:hover, .coin:hover, .fire:hover{
    opacity: 1;
    cursor: pointer;
    
}

.power .images img{
    width: 120px;
    
}

.power .render-content img{
    width: 100%;
}

.power .active{
    border: 1px solid #c8AA6e;
    transform: scale(1.02);
    opacity: 1;
}


.earn{
    padding-top: 4px;
    font-size: 18px;
    border-top: 1px solid gray;
    font-weight: 800;
    width: 900px;
    text-align: center;
    margin-bottom: 10px;
}

.e-dis{
    font-size: 18px;
    
    max-width: 900px;
    text-align: center;
    margin: 20px auto 40px auto;
    line-height: 1.5;
}

.abilities{
    
    gap: 40px;
    display: flex;
    padding: 0px 40px;
    color: white;
    
   
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.abilities-l img{
    width: 80px;

    object-fit: cover;
}

.abilities-r img{
    width: 100%;

    object-fit: cover;
}

.abilities .ability-l, .abilities .ability-r{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px 10px;
   
}

.abilities .unlock{
     font-size: 60px;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    
    margin-bottom: 20px;
}

.abilities .champ{
    font-size: 18px;
    
 
    text-align: center;
    margin: 20px auto 40px auto;
    line-height: 1.5;
}

.abilities .images .i{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    gap: 12px;
    opacity: 0.4;
    font-size: 12px;
    transition: all 0.6s ease;
}

.abilities .images .i:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1);
}

.abilities .images .active{
    opacity: 1;
    transform: scale(1.1);
}

.abilities-r {
    display: flex;
    flex-direction: column;
   
   
    gap: 20px;
    
}

.abilities-r div:nth-child(2){
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;

}

.abilities-r div:nth-child(3){
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    
}



.champ{
    height: max-content;
    margin-top: 140px;
    display: flex;
  
    

    
}

.champ-l{
    
    position: relative;
  
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
   
    color: white;
    padding-left: 40px;
    gap: 20px;
    
}

.champs-container{
   width: 100%;
   margin-top: 100px;
   scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
  
}



.champ-l .champs-character {
    width: 1300px;
    overflow: auto;
    padding-left: 100px;
    
}

.champs-character > div {
    scroll-snap-align: center;
}

.champs-character img{
    width: 100%;
}


.champ-l .champs-character::-webkit-scrollbar {
    display: none;
}

.champs-container::-webkit-scrollbar {
    display: none;
}



.champ-r{
    flex: 1;
    color: white;
}

.champ .background .img-bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    
}

.champ .champs-character{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.play{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 640px;
    color: black;
}

.play img{
    width: 100%;
 
    position: absolute;
    height: 100%;
    z-index: -1;
    
}

.play .c{
    color: black;
    padding: 20px 30px;
    background-color: #c8AA6e;

}



footer{
    background-color: #111111;
    color: white;
    height: max-content;
        /* overflow: hidden; */
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
}


footer svg{
    width: 20px;
}

footer .up{
    background-color: #292929;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;

}

footer .up > div{
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.1s ease;

    
}

footer .up > div:hover{
   
    background-color: #3d3c3c;
    
}

.down{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.down .media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;


}

.down .media > div{
    padding: 8px 14px;
    background-color: #292929;
    align-items: center;
    border-radius: 16px;
}

.down .logo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.down .logo svg{
    width: 120px;
    fill: #3d3c3c;
    transition: all 0.3s ease;
    

}

.down .logo svg:hover{
    fill:white ;
    
}

.down .terms{
    max-width: 740px;
    text-align: center;
    font-size: 16px;
    color: #525050;
}

.down .terms2{
    display: flex;
    gap: 16px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    
  
}

.down .terms2 > div{
    padding: 8px 10px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.down .terms2 > div:hover{
    background-color: #3d3c3c;
}

.down .cards{
    display: flex;
    


}

.down .cards > div{
    padding: 8px;
    background-color: #3d3c3c;
    border-radius: 10px;
}

.down .cards img{
    width: 100%;
}







