footer{
    background-color: #111111;
    color: white;
    height: max-content;
        /* overflow: hidden; */
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
}


footer svg{
    width: 20px;
}

footer .up{
    background-color: #292929;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;

}

footer .up > div{
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.1s ease;

    
}

footer .up > div:hover{
   
    background-color: #3d3c3c;
    
}

.down{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.down .media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;


}

.down .media > div{
    padding: 8px 14px;
    background-color: #292929;
    align-items: center;
    border-radius: 16px;
}

.down .logo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.down .logo svg{
    width: 120px;
    fill: #3d3c3c;
    transition: all 0.3s ease;
    

}

.down .logo svg:hover{
    fill:white ;
    
}

.down .terms{
    max-width: 740px;
    text-align: center;
    font-size: 16px;
    color: #525050;
}

.down .terms2{
    display: flex;
    gap: 16px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    
  
}

.down .terms2 > div{
    padding: 8px 10px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.down .terms2 > div:hover{
    background-color: #3d3c3c;
}

.down .cards{
    display: flex;
    


}

.down .cards > div{
    padding: 8px;
    background-color: #3d3c3c;
    border-radius: 10px;
}

.down .cards img{
    width: 100%;
}






