body{

    
    margin: 0;
    padding: 0; 

    
}

#home{
    width: 100vw;
    height: max-content;
}




/* header-open----------------------- */

.header{
    
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    display:flex; 
    z-index: 100;
    color: white;  
    align-items: center; 
    background-color: rgb(17, 16, 16); 
    overflow: visible;
    
}



.left-header{
    display: flex; 
    padding-left: 40px;
    gap: 2px;
    
    
    
    
}

.left-header .svg2{
    color: gray;
    
}

.left-header .svg2,
.left-header .svg{
    transition: 0.4s;
}


.left-header:hover .svg2,
.left-header:hover .svg {
    color: red;
}




.mid-header{
   display: flex;
   
   flex: 1;
   align-items: center;
   gap: 40px;
   height: 100%;
   padding-left: 20px;
}





.mid-header .tags {
    
    display: flex; 
    height: 100%;
    /* gap: 20px; */
    
    color: white;
    align-items: center;
    justify-content: center;
}



.mid-header .nav{
   
    height: 80%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.mid-header .nav:hover::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    border-radius:8px;
    background-color: #59c1de;
    

}








.mid-header .navs{
    display: flex;
    gap: 4px;
    justify-content: center;
    
    height: max-content;
    padding: 8px 16px;
    border-radius: 8px;
}



.mid-header .nav:hover  .navs{
    background-color: #2b2a29;
    color: #c8aa6e;
}


.drop-down{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.drop-down .svg2 svg {
  transform-box: fill-box;      
  transform-origin: center;    
  transition: transform 0.32s ease; 
  display: inline-block;
}


.drop-down:hover .svg2 svg,
.drop-down:focus-within .svg2 svg {
  transform: rotate(180deg);
}

.drop-down-menu{
    position: absolute;
    top: 86%;
    background-color: #2b2a29;
   
    left: 0;
    
    
    z-index: 1000;
    
    flex-direction: column;
    gap: 8px;
}



.drop-down-menu .drop-down-item{
    padding: 8px 12px;
    padding-right: 44px;
    text-transform: capitalize;
    margin-bottom: 2px;
    display: flex;
    gap: 4px;
    
    align-items: center;
    border-radius: 4px;
    min-width: max-content;

}

.drop-down .drop-down-menu-content-wrapper{
    position: relative;
    height: 100%;
    padding: 12px 20px;
    display: none;
    
}

.drop-down-menu-content-wrapper::after{
    content:"" ;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 4px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #59c1de;


}

.drop-down-menu .drop-down-item:hover{
    background-color: #42403f;
    
}

.drop-down:hover .navs{
    background-color: #2b2a29;
    color: #c8aa6e;
}

.drop-down:hover .drop-down-menu-content-wrapper{
    display: flex;
    flex-direction: column;
    
}

.right-header{
    display: flex; 
    padding-right: 40px;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.right-header .search{
    width: 20px;
    background-color: #2b2a29;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 16px;
    
}

.right-header .globe {
    width: 20px;
}

.right-header .profile{
    background-color: #2b2a29;
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 4px;
    display: flex;
    gap: 4px;
}









/* header-close--------------------- */



.hero {
    position: relative;
    width: 100%;
    height: 80vh;
    margin-top: 90px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    text-align: center;
}

.hero video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.bg-vid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: 1;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.content-hero{
    
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-style: italic;
}

.content-hero img{
    width: 50%;
    height: 50%;
    
    
   
}

.featured-news{
    
    height: max-content;
    
    display: flex;
    
    flex-direction: column;
    gap: 20px;
}







/* KeyFrames and animations */

